.btn-entidades, .btn-modulos {
    height: 100px;
    margin-top: 5px;
}

.btn-entidades .title, .btn-modulos .title {
    position: relative;
    top: 35%;
    font-size: 1.5em;
}

.desc-entidades, .desc-modules {
    border: 1px solid #ddd;
    padding: 5px 10px 0px 10px;
    margin-top: 5px;
}